<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
<title  >Management</title>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"  >Management</a>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a th:href="@{/logout}" th:utext="#{label.pages.logout}">logout</a></li>
      </ul>
  </div>
</nav>

</body>

</html>

